node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
src/utils/Helpers/keys.js
clean-task-43018-firebase-adminsdk-4uphp-39e9aa3ac5.json
google-services.json
# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*
